@badeball/cypress-cucumber-preprocessor@^20.0.0
@bahmutov/cypress-esbuild-preprocessor@^2.2.0
cypress@^13.0.0
cypress-mochawesome-reporter@^3.8.4
esbuild@^0.20.0
mochawesome-merge@^4.3.0
mochawesome-report-generator@^6.2.0
mssql@^12.2.0
dayjs@^1.11.9
json-server@^0.17.3
